@font-face{
	font-family: fz;
	src: url(app/font/fangzheng.ttf)
}
.text-outline(@c;@w){
	text-shadow:@w 0 0 @c,-@w 0 0 @c,0 @w 0 @c,0 -@w 0 @c;
}
@p2r:72rem;
body{
	background-image: url(app/img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	font-family: fz;
}
