@font-face{
	font-family: fz;
	src: url(app/font/fangzheng.ttf)
}
.text-outline(@c;@w){
	text-shadow:@w/2 0 0 @c,-@w/2 0 0 @c,0 @w/2 0 @c,0 -@w/2 0 @c;
}
body{
	// background-image: url(app/image/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	font-family: fz;
}
